@charset "utf-8";
html, body
{
	height: 100%;
}
body{		
	margin: 0px;
	padding: 0px;
	background-color: #2056ac;
	font-family: 'Questrial', sans-serif;
	min-width: 800px;
}
a
{
	text-decoration: none;
	color: #2056ac;
}

a:hover
{
	text-decoration: none;
}
.sidebar {
	font-size: 20px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	float: left;
	width: 30%;
	height: 500px;
	padding-top: 10px;
	padding-right: 0.1em;
	padding-bottom: 10px;
	padding-left: 0.1em;
}
.content {
	font: 24px;
	width: 65%;
	float: right;
}
.content {
	padding-top: 10px;
	padding-right: 0.1em;
	padding-bottom: 50px;
	padding-left: 0.1em;
	height: 100%;
}
.button1 {
	width: 25%;
}
.button1 {
	display: inline-block;
	margin-right: 10%;
	margin-left: 10%;	
	margin-bottom: 1em;	
	display: inline-block;
	background: #64ABD1;
	line-height: 1.8em;
	letter-spacing: 1px;
	text-decoration: none;
	font-size: 0.5em;
	color: #FFF;
	margin-top: 1em;
}
#header {
	color: #FFF;
	text-align: center;
    padding: 4em 0em 2em 0em;
}
#header h1
{
 	display: block;
	margin-bottom: 0.20em;
	padding: 0.20em 0.9em;
	font-size: 3.5em;
}

#header a
{
	text-decoration: none;
	color: #FFF;
}
.header-wrapper
{
	margin-left: auto;
	margin-right: auto;

	background: #2056ac;
	width: 100%;
	max-width: 1200px;
}
.wrapper
{
	margin-left: auto;
	margin-right: auto;

	padding: 0em 0em 7em 0em;
	width: 100%;
	background: #fff;
	height: 600px;
	text-align=center;
}
.button1 {
	padding: 0.3em;
}
.container
{
	margin: 0px auto;
	width: 100%;
}

.back1
{
	max-width: 1200px ;
	margin-left: auto;
	margin-right: auto;

}
#footer-wrapper
{
	width: 100%;
}
#copyright
{
	margin-left: auto;
	margin-right: auto;

	padding: 5em 0em;
	text-align: center;
	max-width: 1200px;
}
	
#copyright p
{
	letter-spacing: 1px;
	font-size: 0.90em;
	color: rgba(255,255,255,0.6);
}

#copyright a
{
	text-decoration: none;
	color: rgba(255,255,255,0.8);
}

.t-list { 
	font:12px verdana, arial, sans-serif;
	width: 100%;
}
.t-list, .t-list li {
	float:left;
	list-style:none;
	padding:0;  
	margin:0; 
}
.t-list li {
	padding-left: 5%;
	padding-right: 5%;
}

#t-title {
	font-weight: bold;
	font-size: 12px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #CCC;
	padding-top: 10px;
	padding-bottom: 10px;
}
.t-item {
	font:12px verdana, arial, sans-serif;
	width: 100%;
	font-size: 12px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #CCC;
	padding-top: 10px;
	padding-bottom: 10px;
	float:left;
	list-style:none;
	padding:0;  
	margin:0; 
}
.t-item li {
	float:left;
	list-style:none;
	padding:0;  
	margin:0; 
	padding-left: 5%;
	padding-right: 5%;
}
.t-item a {
	text-decoration: none;
}
.paginator {
	font-size: 12px;
	text-align: center;
}

.button2 {
	width: 25%;
}
.button2 {
	display: inline-block;
	margin-right: 10%;
	margin-left: 10%;		
	margin-top: 1em;	
	margin-bottom: 1em;
	display: inline-block;
	background-color: #F00;
	line-height: 1.8em;
	letter-spacing: 1px;
	text-decoration: none;
	font-size: 0.5em;
	color: #FFF;
	padding: 0.3em;
	
}
.button_wait {
	width: 25%;
	display: inline-block;
	margin-right: 10%;
	margin-left: 10%;	
	margin-bottom: 1em;	
	display: inline-block;
	background: #DAA520;
	line-height: 1.8em;
	letter-spacing: 1px;
	text-decoration: none;
	font-size: 0.5em;
	color: #FFF;
	margin-top: 1em;
	padding: 0.3em;
}
.button_ready {
	width: 25%;
	display: inline-block;
	margin-right: 10%;
	margin-left: 10%;	
	margin-bottom: 1em;	
	display: inline-block;
	background: #008000;
	line-height: 1.8em;
	letter-spacing: 1px;
	text-decoration: none;
	font-size: 0.5em;
	color: #FFF;
	margin-top: 1em;
	padding: 0.3em;
}

