{% extends "in.html" %}
{% block ctitle %}
CREATE A NEW TEMPLATE
{% endblock %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <div style="font: 12px">
        <table width="70%" border="0" >
             <tr>
                 <td><b>Name</b></td>
                 <td><input type="text" name="name" value="{{name}}" id="name" /></td>
             </tr>
             <tr>
                 <td><b>OS Type</b></td>
                 <td><input type="text" name="os_type" value="{{os_type}}" id="os_type" /></td>
             </tr>
             <tr>
                 <td><b>Distribution</b></td>
                 <td><input type="text" name="distribution" value="{{distribution}}" id="distribution" /></td>
             </tr>
             <tr>
                 <td><b>Deploy Method (Default 'nfsmount')</b></td>
                 <td><input type="text" name="deploy_method" value="{{deploy_method}}" id="deploy_method" /></td>
             </tr>
             <tr>
                 <td><b>Kernel</b></td>
                 <td><input type="text" name="kernel" value="{{kernel}}" id="kernel" /></td>
             </tr>
             <tr>
                 <td><b>Node Type (Default 'undefined')</b></td>
                 <td><input type="text" name="node_type" value="{{node_type}}" id="node_type" /></td>
             </tr>
             <tr>
                 <td><b>Capabilities (Default 'vNode')</b></td>
                 <td><input type="text" name="capabilities" value="{{capabilities}}" id="capabilities" /></td>
             </tr>
             <tr>
                 <td><b>Perferred Memory (MB, Only integer)</b></td>
                 <td><input type="text" name="memory" value="{{memory}}" id="memory" /></td>
             </tr>
             <tr>
                 <td><b>Perferred Disk Size (GB, Only integer)</b></td>
                 <td><input type="text" name="disk" value="{{disk}}" id="disk" /></td>
             </tr>
             <tr>
                 <td><b>Repository</b></td>
                 <td><input type="text" name="repository" value="{{repository}}" id="repository" /></td>
             </tr>
             <tr>
                 <td><b>Deploy URL</b></td>
                 <td><input type="text" name="deploy_url" value="{{deploy_url}}" id="deploy_url" /></td>
             </tr>
             <tr>
                 <td><b>Description</b></td>
                 <td><input type="text" name="description" value="{{description}}" id="description" /></td>
             </tr>
         </table>
     </div>
     <div>
         <input class="button1" type="submit" name="create" id="create" value="Create" />
         <input class="button2" type="button" name="cancel" id="cancel" value="Cancel" onclick="location.href='{{site}}/profile/'"/>
         <input type="hidden" name="next" value="{{ next|escape }}" />
     </div>
</form>
<p style="color:red">{{ msg }}<p> 
{% endblock %}
