{% extends "in.html" %}
{% block ctitle %}
CREATE A NEW TEMPLATE
{% endblock %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <div style="font: 12px">
        <table width="70%" border="0" >
             <tr>
                 <td><b>Base Image</b></td>
                 <td><select name="image" id="image"/>{% for image in images %}
                         <option value = "{{ image }}">{% firstof image %}</option>
                     {%endfor%}
                     </select></td>
             </tr>
             <tr>
                 <td><b>Name</b></td>
                 <td><input type="text" name="name" value="{{name}}" id="name" /></td>
             </tr>
             <tr>
                 <td><b>Description</b></td>
                 <td><input type="text" name="description" value="{{description}}" id="description" /></td>
             </tr>
             <tr>
                 <td><b>Capabilities (Default '&lt;vNode/&gt;')</b></td>
                 <td><input type="text" name="capabilities" value="{{capabilities}}" id="capabilities" /></td>
             </tr>
             <tr>
                 <td><b>OS Type</b></td>
                 <td><select name="os_type" id="os_type"/>{% for os_type in os_types %}
                         <option value = "{{ os_type }}">{% firstof os_type %}</option>
                     {%endfor%}
                     </select></td>
             </tr>
             <tr>
                 <td><b>Distribution</b></td>
                 <td><select name="distribution" id="distribution"/>{% for distribution in distributions %}
                         <option value = "{{ distribution }}">{% firstof distribution %}</option>
                     {%endfor%}
                     </select></td>
             </tr>
             <tr>
                 <td><b>Release</b></td>
                 <td><input type="text" name="release" value="{{release}}" id="release" /></td>
             </tr>
             <tr>
                 <td><b>Kernel</b></td>
                 <td><input type="text" name="kernel" value="{{kernel}}" id="kernel" /></td>
             </tr>
             <tr>
                 <td><b>Packages (Default 'base-files')</b></td>
                 <td><input type="text" name="packages" value="{{packages}}" id="packages" /></td>
             </tr>
             <tr>
                 <td><b>Repository (Default 'local')</b></td>
                 <td><input type="text" name="repository" value="{{repository}}" id="repository" /></td>
             </tr>
             <tr>
                 <td><b>vCPU (Default 1)</b></td>
                 <td><input type="text" name="cpu" value="{{cpu}}" id="cpu" /></td>
             </tr>
             <tr>
                 <td><b>Perferred Memory (MB, Only integer)</b></td>
                 <td><input type="text" name="memory" value="{{memory}}" id="memory" /></td>
             </tr>
             <tr>
                 <td><b>Perferred Disk Size (GB, Only integer)</b></td>
                 <td><input type="text" name="disk" value="{{disk}}" id="disk" /></td>
             </tr>
             <tr>
                 <td><b>Deploy Method</b></td>
                 <td><select name="method" id="method"/>{% for method in methods %}
                         <option value = "{{ method }}">{% firstof method %}</option>
                     {%endfor%}
                     </select></td>
             </tr>
             <tr>
                 <td><b>Deploy vStore</b></td>
                 <td><select name="vstore" id="vstore" />{% for vstore in vstores %}
                         <option value = "{{ vstore }}">{% firstof vstore %}</option>
                     {% endfor %}
                     </select>
                 </td>
             </tr>
<!-- Now the server holding cowdir is the same with deploy_url
             <tr>
                 <td><b>COWDir</b></td>
                 <td><input type="text" name="cowdir" value="{{cowdir}}" id="cowdir" /></td>
             </tr>
-->
         </table>
     </div>
     <div>
         <input class="button1" type="submit" name="create" id="create" value="Create" />
         <input class="button2" type="button" name="cancel" id="cancel" value="Cancel" onclick="location.href='{{site}}/profile/'"/>
         <input type="hidden" name="next" value="{{ next|escape }}" />
     </div>
</form>
<p style="color:red"><b>{{ msg }}</b></p> 
{% endblock %}
