<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

{% include "includes/head.html" %}

<body>
{% include "includes/header.html" %}

<div class="wrapper" style="position:relative">        
    <div class="back1">
		<div class="sidebar" id="sidebar">
		{% block sidebar %}
		
		{% endblock %}
		</div>
		<div class="content" id="content">
		<div>
			<h2>
				{% block ctitle %}
				Welcome!
				{% endblock %}
			</h2>
		</div>
		{% block content %}
			  <p>This is a middle server to connect edx-platfrom with iVIC.</p>
			  <p>Here, once you have signed up and been authorized, you can publish templates for virtual machines used by iVIC.</p>
		{% endblock %}
		</div>
	</div>
</div>

{% block footer %}
{% include "includes/footer.html" %}
{% endblock %}
</body>
</html>
