
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Edx2iVIC</title>
<link href="/static/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="header-wrapper" style="position:relative">
    <div id="header" class="contianer">
      <h1><strong>From Edx to iVIC</strong></h1>
    </div>
</div>
<div class="wrapper" style="position:relative">        
    <div class="back1">
		<div class="sidebar" id="sidebar">
			<p>
			Get what you want NOW.
			</p>
			  <table width="100%" border="0">
				<tr>
				  <td width="33%">username</td>
				  <td width="67%">
					<input type="text" name="username" id="username" /></td>
				</tr>
				<tr>
				  <td>password</td>
				  <td><label for="password"></label>
				  <input type="text" name="password" id="password" /></td>
				</tr>
			  </table>
			  <p>
				<input class="button1" type="button" name="login" id="login" value="Sign in" />
				<input class="button1" type="button" name="signup" id="signup" value="Sign up" />
			  </p>
		</div>
		<div class="content" id="content">
			  <p>This is a middle server to connect edx-platfrom with iVIC.</p>
			  <p>Here, once you have signed up and been authorized, you can publish templates for virtual machines used by iVIC.</p>
		</div>
	</div>
</div>
<div class="footer-wrapper" style="position:relative">
	<div id="copyright" style="position:relative">
		<p>Copyright (c) 2014 <a href="http://michael-tong.com/">Michael Tong</a>. All rights reserved.</p>
</div>
</body>
</html>
