{% extends "in.html" %}

{% block ctitle %}
TEMPLATE DETAILS
{% endblock %}

{% block content %}
        <div style="font: 12px">
            <table width="70%" border="0" >
              <tr>
                <td><b>Status</b></td>
                <td>{% ifequal template.status 0 %}
                    <p style = "color :#64ABD1;" >Created</p>
                    {% endifequal %}
                    {% ifequal template.status 1 %}
                    <p style = "color :#DAA520;" >Transfer</p>
                    {% endifequal %}
                    {% ifequal template.status 2 %}
                    <p style = "color :#DAA520;" >Publish</p>
                    {% endifequal %}
                    {% ifequal template.status 3 %}
                    <p style = "color :#008000;" >Ready</p>
                    {% endifequal %}
                    {% ifequal template.status -1 %}
                    <p style = "color :#F00;" >Error</p>
                    {% endifequal %}
              <tr>
                <td><b>Name</b></td>
                <td>{{ template.name }}</td>
              </tr>
              <tr>
                <td><b>Created by</b></td>
                <td>{{ template.create_user.username }}</td>
              </tr>
              <tr>
                <td><b>Description</b></td>
                <td>{{ template.description }}</td>
              </tr>
              <tr>
                <td><b>Capabilities</b></td>
                <td>{{ template.capabilities }}</td>
              </tr>
              <tr>
                <td><b>OS Type</b></td>
                <td>{{ template.os_type }}</td>
              </tr>
              <tr>
                <td><b>Distribution</b></td>
                <td>{{ template.distribution }}</td>
              </tr>
              <tr>
                <td><b>Release</b></td>
                <td>{{ template.release }}</td>
              </tr>
              <tr>
                <td><b>Kernel</b></td>
                <td>{{ template.kernel }}</td>
              </tr>
              <tr>
                <td><b>Packages</b></td>
                <td>{{ template.packages }}</td>
              </tr>
              <tr>
                <td><b>Repository</b></td>
                <td>{{ template.repository }}</td>
              </tr>
              <tr>
                <td><b>Perferred Memory(MB)</b></td>
                <td>{{ template.memory }}</td>
              </tr>
              <tr>
                <td><b>Perferred Disk Size(GB)</b></td>
                <td>{{ template.disk }}</td>
              </tr>
              <tr>
                <td><b>NewConfig</b></td>
                <td>{{ template.newconfig }}</td>
              </tr>
              <tr>
                <td><b>Deploy Method</b></td>
                <td>{{ template.deploy_method }}</td>
              </tr>
              <tr>
                <td><b>Deploy URL</b></td>
                <td>{{ template.deploy_url }}</td>
              </tr>
              <tr>
                <td><b>COWDir</b></td>
                <td>{{ template.cowdir }}</td>
              </tr>
              <tr>
                <td><b>Filename</b></td>
                <td>{{ template.filename }}</td>
              </tr>
            </table>
            </div>
            <div>
            <a href="howtoadd/"><button class="button1" name="addtocourse" id="addtocourse">Add to Course</button></a>
            <a href="{{ site }}/"><button class="button1" name="back" id="back">Back</button></a>
            {% ifequal template.status 3 %}
            <a href="request/"><button class="button1" name="reqpage" id="reqpage">Show Request Page</button></a>
            <a href="javascript:if(confirm('Are you sure to delete it?')) location='delete'"><input class="button2" type="button" name="deltp" id="deltp" value="Delete" /></a>
            {% endifequal %}
            </div>
{% endblock %}
