{% extends "in.html" %}

{% block ctitle %}
REQUEST DEMO <a href="..">Back</a><br/>
<p style="font-size:10px">{{ template.filename }}</p>
{% endblock %}

{% block content %}
<script type="text/javascript" src="{{ STATIC_URL }}js/ws4redis.js"></script>
 
<script type="text/javascript">
    jQuery(document).ready(function($) {
        var state = 0
        var ws4redis = WS4Redis({
            uri: '{{ WEBSOCKET_URI }}foobar?subscribe-session',
            receive_message: receiveMessage,
            heartbeat_msg: {{ WS4REDIS_HEARTBEAT }}
        });

        // send request message to the server using Ajax
        $('#send_request').click(function(){
            $.post('',{ method: 'UP',template: '{{template.filename}}'});
        });

        $('#new_window').click(function(){
            document.frames('viewer').location.reload()
        });

        function receiveMessage(msg){
            if (msg == "0 {{ template.filename }}"){
                state = 0;
                info = "Send Request";
                document.getElementById("send_request").disabled=false;
            	document.getElementById("send_request").innerHTML = info;
                document.getElementById("send_request").setAttribute("class","button1");
                document.getElementById("new_window").style.display='None'; 
            }
            else if (msg == "1 {{ template.filename }}"){
                state = 1;
                info = "Request received";
                document.getElementById("send_request").disabled=true;
            	document.getElementById("send_request").innerHTML = info;
                document.getElementById("send_request").setAttribute("class","button_wait");
            }
            else if (msg == "2 {{ template.filename }}"){
                state = 2;
                info = "Applying VM...";
            	document.getElementById("send_request").innerHTML = info;
                document.getElementById("send_request").disabled=true;
                document.getElementById("send_request").setAttribute("class","button_wait");
            }
            else if (msg == "3 {{ template.filename }}"){
                state = 3;
                info = "Applying Proxy...";
            	document.getElementById("send_request").innerHTML = info;
                document.getElementById("send_request").disabled=true;
                document.getElementById("send_request").setAttribute("class","button_wait");
            }
            else if (msg == "4 {{ template.filename }}"){
                state = 4;
                info = "Ready";
            	document.getElementById("send_request").innerHTML = info;
                document.getElementById("send_request").disabled=true;
                document.getElementById("send_request").setAttribute("class","button_ready");
            }
            else if (msg == "5 {{ template.filename }}"){
                state = 5;
                info = "Error, retry";
                document.getElementById("send_request").disabled=false
            	document.getElementById("send_request").innerHTML = info;
                document.getElementById("send_request").setAttribute("class","button2");
            }
            else if (state == 4){
                var i = msg.indexOf("{{ template.filename }}")
                if (i != -1){
                    var vnc_url = msg.substr(37)
                    document.getElementById("viewer").setAttribute("src",vnc_url);
                    var url = "";
                    url = "javascript:if(confirm('Please DISCONNECT on this page before you open a new page.')) window.open('"+ vnc_url+"')"
                    document.getElementById("new_window").setAttribute("onclick",url);
                    document.getElementById("new_window").style.display='inline'; 
                }
            }
        }
    });
</script>
<div>
	<button  id="send_request" class="button1" style="margin: 10px 10px;width:200px;">Send Request</button>
        <button  id="new_window" class="button1" style="margin: 10px 10px;width:200px;display:None" onclick="">New Window</button>
</div>
<div>
        <iframe id="viewer" name="viewer" src="{{ STATIC_URL }}/images/edxtoivic.jpg" width="700" height="500" allowfullscreen="yes"></iframe>
</div>
{% endblock %}
